* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header{
    background-color: orange;
}

body {
  background: #fff;
  color: #111;
}

.logo{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.icons a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}


.red{
    color: red;
}

#white{
    color: white;
    padding: 20px;
    margin-left: 5%;
}

#info{
    color: white;
    padding: 5px;
    margin-left: 89px;
    font-size: 15px;
}

#social{
    color: white;
    text-align: end;
    margin-right: 5%;
}

.icons-social{
    color: white;
    font-size: 20px;
    text-align: end;
    margin-right: 4.5%;
}

footer{
    background-color: black;
}